html {
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

:root {
  --header-height: 75px;
  --logo-font-size: 20px; 
  --container-width: 85%;

  --paragraph: 20px;
  --small: 13px;
  --primary-color: #000;
  --secondary-color: #696969;
  --reverse-color: #fff;

  --background-dark: rgb(0, 0, 0);
  --background-light: rgb(255, 255, 255);
  --global-border-radius: 7.5px;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px;
}

h1, h2, h3, h4, h5, h6, select {
  line-height: 1.5;
}

a {
  font-family: inherit;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: inherit;
}

select::-ms-expand {
  display: none;
}