* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', sans-serif;
}

:root {
  --header-height: 75px;
  --logo-font-size: 16px; 
  --container-width: 90%;

  --paragraph: 16px;
  --small: 13px;
  --primary-color: #000;
  --secondary-color: #696969;
  --reverse-color: #fff;

  --background-dark: rgb(0, 0, 0);
  --background-light: rgb(255, 255, 255);
  --global-border-radius: 7.5px;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px;
}

h1, h2, h3, h4, h5, h6, select {
  font-family: 'Montserrat', serif;
}

a {
  font-family: inherit;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}